.input
{
    font-size: 16px;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(215, 208, 208);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    
    
}
